body{
    display: block;
    background-image: url("abstract-fantasy-landscape-with-color-year-purple-tones.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    min-height: 100vh;
    border-radius: 20px;
    ;

}
.ggg{
    color: red;
}
a {
    color: rgb(221, 81, 221);
    text-decoration: none;
}
.app{

    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50pxrgbs(65, 50, 100, 0.05);
    padding: 30px;
    margin-top: 5px;
    border-radius: 20px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, .4);
}
header {
    border-bottom: 1px colid #f9f7fe;
    padding: 0 0 30px 0;
}
.search-form-input {
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}
.search-form-button {
    background: purple;
    padding: 15px 20px;
    border: none;
    margin-left: 5px;
    border-radius: 6px;
    color: white;
}
footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: black;

}
.app-data {
    display: flex;
    justify-content: space-between;
    color: purple;

}
.city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;

}
.details {
    font-size: 16px;
    color: black;
    line-height: 24px;
    font-weight: 500;

}
.details strong{
    color: rgb(235, 25, 25);
}
.temperature {
    display: flex;
}
.value {
    font-size: 88px;
    margin-left: 10px;
    line-height: 80px;
    font-weight: bold;
}
.icon {
    width: 98px;
    height: 98px;
}
.units {
    margin-top: 6px;
    font-size: 28px;
}
.forecast-day {
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding-top: 10px;


}
.forecast-icon {
    width: 88px;
    height: 88px;
    display:block;
    margin: 0 auto;

    
    
}
.forecast-temp{
    text-align: center;
    color: black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}
.temp-1 {
    padding: 0 10px;
}

.forecast {
    display: flex;
    justify-content: space-around;
}
#forecast {
    display: flex;
    justify-content: space-around;
}

.logo{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 10px;
}
.hh{
    color: white;
    font-size: 40px;
    vertical-align: middle;
    margin-top: 10px;
    position: absolute;
}
.head{
    margin-left: 40px;
    margin-top: 20px;
    
}
.sky{
    text-align: center;
    color: white;
    padding-top: 10px;

}
.curious{
    text-align: center;
    color: rgb(252, 241, 241);
    padding-top: 0px;
    font-size: 20px;
    margin-top: 0px;
}